<div class="card">
  <div class="avatar"><i class="ph ph-user"></i></div>

  <span class="name">{{ volunteer.name }}</span>

  <span class="phone">{{ volunteer.phone }}</span>

  <span class="email">{{ volunteer.email }}</span>

  <span class="area">{{ volunteer.area }}</span>

  <span class="status">{{ volunteer.status }}</span>

  <div class="btns-box">
    <button><i class="ph-fill ph-dots-three-outline-vertical"></i></button>
    <div class="btn-item">
      <button><i class="ph ph-pencil"></i></button>
      <button><i class="ph ph-trash"></i></button>
    </div>
  </div>
</div>
