<div class="card">
  <div class="avatar"><i class="ph ph-user"></i></div>

  <span class="name">Nicholas Patrick</span>

  <span class="phone">(19) 99999-9999</span>

  <span class="email">johndueemail.com</span>

  <span class="area">Psicologia</span>

  <span class="status">Aguardando</span>

  <div class="btns-box">
    <button><i class="ph-fill ph-dots-three-outline-vertical"></i></button>
    <div class="btn-item">
      <button><i class="ph ph-pencil"></i></button>
      <button><i class="ph ph-trash"></i></button>
    </div>
  </div>
</div>
