<div class="card">
  <div class="avatar"><i class="ph ph-user"></i></div>

  <span class="name">{{ helped.name }}</span>

  <span class="phone">{{ helped.phone }}</span>

  <span class="email">{{ helped.email }}</span>

  <span class="area">{{ helped.area }}</span>

  <span class="status">{{ helped.status }}</span>

  <div class="btns-box">
    <button><i class="ph-fill ph-dots-three-outline-vertical"></i></button>
    <div class="btn-item">
      <button><i class="ph ph-pencil"></i></button>
      <button><i class="ph ph-trash"></i></button>
    </div>
  </div>
</div>
