.admin-container {
  height: 100vh;
  display: flex;
  width: 100%;

  app-sidebar {
    background-color: var(--cyan-600);
    height: 100%;
    flex-shrink: 0;
    padding: 3rem 1rem;
  }

  .panel-container {
    width: 100%;
    padding: 0 2rem;

    app-panel-header {
      width: 100%;
    }
  }
}

.blur-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(10px);
  z-index: 999;
}
