<header>
  <h1 class="page-title">{{ panelTitle }}</h1>
  <div>
    <div class="search-bar">
      <input type="text" placeholder="Pesquisar" [(ngModel)]="searchValue" (input)="onSearchChange()">
      <i class="ph ph-magnifying-glass"></i>
    </div>
    <div>
      <div class="notification-icon">
        <i class="ph-fill ph-bell"></i>
      </div>
      <div class="user-box">
        <div class="avatar"><i class="ph ph-user"></i></div>
        <span>Usuário</span>
      </div>
    </div>
  </div>
</header>