<nav>
  <div class="logo-container">
    <img src="images/logo.svg" alt="">
  </div>

  <div class="divider"></div>

  <ul>
    <li>
      <a routerLink="/volunteers" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        <i class="ph ph-address-book"></i>
        Voluntários
      </a>
    </li>
    <li>
      <a routerLink="/helped" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
        <i class="ph ph-address-book-tabs"></i>
        Precisando de ajuda
      </a>
    </li>
  </ul>
</nav>
