:root {
  --green-600: #43BE83;

  --red-500: #D20000;

  --cyan-500: #57e4ff;
  --cyan-600: #0090c1;
  --cyan-700: #046e8f;
  --cyan-800: #183446;
  --cyan-900: #022f40;

  --blue-600: #1c52c5;
  --blue-800: #0e387a;

  --grey-100: #F5F3FF;
  --grey-700: #474747;
  --grey-900: #1F192F;
  --light-grey: #f9f9fb;
  --text-white: #fff;

  --gradient: linear-gradient(180deg, rgba(0,144,193,1) 0%, rgba(87,228,255,1) 100%);
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/gotham-light.woff2") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/gotham-book.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/gotham-bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/gotham-black.woff2") format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  color: var(--grey-700);
  overflow-x: hidden;
}

@for $wid from 1 through 100 {
  .w-#{$wid} {
    width: percentage($wid / 100);
  }
}

@media (max-width: 768px) {
  @for $wid from 1 through 100 {
    .mw-#{$wid} {
      width: percentage($wid / 100);
    }
  }

  body {
    .section {
      padding: 1rem;
    }
  }
}
